@import './variables.scss';

.card-div {
  @include super-radius(5px);
  @include box-shadow;  
  background-color: black;
  width: 20vw;
  border: 10px solid $white;
  margin-bottom: 43px;
  position: relative; 
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.favorite {
  transform: scale(1.05);
  border-color: #EDFF86;
}

.favorites-div .card-div {
  transform: scale(1.05);
  border-color: #EDFF86;
  display: inline-block;
}

.favorites-div .card-div .fav-icon {
  display: initial;
}

.card-div:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.05);
}

.card-div img {
  width: 100%;
  height: 100%;
}

.card-div:hover img {
  opacity: .3;
}


.card-div .fav-icon {
  width: 30%;
  height: 15%;
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 3;
  display: none;
}

.favorite .fav-icon {
  display: initial;
}

.card-div:hover .fav-icon {
  opacity: 1;
}


.card-div p {
  display: none; 
  color: $primary-light;
  text-align: left;
  font-family: $body-font;
  padding-left: 6px;
}

.card-div button {
  display: none;
  background-color: #EDFF86;
  border: none;
  padding: 10px;
  border-radius: $border-radius * 5;
  font-size: 1.4em;
  margin-top: 10px;
}

.card-div:hover button {
  display: initial;
}

.card-div:hover p {
  display: block;
}

.card-text {
  position: absolute;
  top: 0;
}

.card-div .title {
  @include title-bg; 
  font-family: $headers-font;
  font-size: 2em;
}  

.date {
  font-style: italic;
}
