.error-prompt {
  background-color: pink;
  font-size: 1em;
  position: absolute;
  width: 350px;
  top: 25px;
  left: calc(50vw - (350px / 2));
  padding: 10px;
}

.error-button {
  border-radius: 5px;
  background-color: lightblue;
  border: none;
  box-shadow: none;
}
