$primary-light: rgba(251, 249, 240, 1);
$primary-neutral: rgba(234, 214, 210, 1);
$white: rgba(255, 255, 255, 1);
$secondary-dark: rgba(163, 47, 66, 1);
$secondary-v-dark: rgba(99, 30, 45, 1);
$black: rgba(0, 0, 0, 1);
$black-o: rgba(0, 0, 0, 0);
$body-font: 'Roboto', sans-serif;
$headers-font:  'Oswald', sans-serif;
$border-radius: 7px;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -ms-border-radius: $radius;
 }

@mixin box-shadow {
  -webkit-box-shadow: 10px 10px 73px 0px $secondary-dark;
  -moz-box-shadow: 10px 10px 73px 0px $secondary-dark;
  box-shadow: 10px 10px 73px 0px $secondary-dark;
}

@mixin title-bg {
  background: $black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($black, $black-o); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($black, $black-o); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($black, $black-o); /* For Firefox 3.6 to 15 */
  background: linear-gradient($black, $black-o); /* Standard syntax */
}
